{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Atualizar dispositivo{% endblock %}</h1>
{% endblock %}
{% block nav %}
<li><a href="{{ url_for('index') }}">Lista</a></li>
<li><a href="{{ url_for('mapa') }}">Mapa</a></li>
{% endblock %}

{% block content %}
  <form method="POST">
    <label for="IMEI">IMEI</label>
    <input name="IMEI" id="IMEI" value="{{id}}" disabled>
    <label for="marca_modelo">Marca/modelo</label>
    <input name="marca_modelo" id="marca_modelo" value="{{marca}}" required>
    <input type="submit" value="Atualizar">
  </form>
{% endblock %}
