<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_8ff0a0f649804578a6555445ca04b45b {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_8ff0a0f649804578a6555445ca04b45b" ></div>
        
</body>
<script>    
    
            var map_8ff0a0f649804578a6555445ca04b45b = L.map(
                "map_8ff0a0f649804578a6555445ca04b45b",
                {
                    center: [-5.834575, -35.2207787],
                    crs: L.CRS.EPSG3857,
                    zoom: 13,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_75ee4044eb5a4a15a29195f5fa797442 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_8ff0a0f649804578a6555445ca04b45b);
        
    
            var marker_aa9e78ea30b04b03a261e52db5938773 = L.marker(
                [-5.785132781602442, -35.194466868415475],
                {}
            ).addTo(map_8ff0a0f649804578a6555445ca04b45b);
        
    
            var icon_c7adda30f72241c5bd54c5ecd40435cc = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_aa9e78ea30b04b03a261e52db5938773.setIcon(icon_c7adda30f72241c5bd54c5ecd40435cc);
        
    
        var popup_c9ca9b180aa64d9d999403e0b95630eb = L.popup({"maxWidth": "100%"});

        
            var html_b1926dbaa187415fb215c6e20cc97aa0 = $(`<div id="html_b1926dbaa187415fb215c6e20cc97aa0" style="width: 100.0%; height: 100.0%;"> <a href= '/graphs/353114091675712/bar' target='_blank'>Ver gráficos</a></div>`)[0];
            popup_c9ca9b180aa64d9d999403e0b95630eb.setContent(html_b1926dbaa187415fb215c6e20cc97aa0);
        

        marker_aa9e78ea30b04b03a261e52db5938773.bindPopup(popup_c9ca9b180aa64d9d999403e0b95630eb)
        ;

        
    
    
            var marker_88c5789bb2514bc69bbf692394a959cf = L.marker(
                [-5.8113299, -35.2084293],
                {}
            ).addTo(map_8ff0a0f649804578a6555445ca04b45b);
        
    
            var icon_673f13fff9b44fd687c653026d43595f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_88c5789bb2514bc69bbf692394a959cf.setIcon(icon_673f13fff9b44fd687c653026d43595f);
        
    
        var popup_10dc80f6d7d94276904a6aef606fa240 = L.popup({"maxWidth": "100%"});

        
            var html_fa48830d38624edf85b363ed3340a87d = $(`<div id="html_fa48830d38624edf85b363ed3340a87d" style="width: 100.0%; height: 100.0%;"> <a href= '/graphs/dispositivo%20de%20teste/bar' target='_blank'>Ver gráficos</a></div>`)[0];
            popup_10dc80f6d7d94276904a6aef606fa240.setContent(html_fa48830d38624edf85b363ed3340a87d);
        

        marker_88c5789bb2514bc69bbf692394a959cf.bindPopup(popup_10dc80f6d7d94276904a6aef606fa240)
        ;

        
    
</script>