<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_36f354f224f14905945e341498a04b0c {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_36f354f224f14905945e341498a04b0c" ></div>
        
</body>
<script>    
    
            var map_36f354f224f14905945e341498a04b0c = L.map(
                "map_36f354f224f14905945e341498a04b0c",
                {
                    center: [-5.834575, -35.2207787],
                    crs: L.CRS.EPSG3857,
                    zoom: 13,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_a0b9ab0c8d8344abb26ab804f585ba91 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_36f354f224f14905945e341498a04b0c);
        
    
            var marker_2e09026824d047288f53799c8a865912 = L.marker(
                [-5.785132781602442, -35.194466868415475],
                {}
            ).addTo(map_36f354f224f14905945e341498a04b0c);
        
    
            var icon_c84c8db4c6df4bf49cf7ee1863533c83 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_2e09026824d047288f53799c8a865912.setIcon(icon_c84c8db4c6df4bf49cf7ee1863533c83);
        
    
        var popup_f5af7fb73fc244ce97fb695b54176883 = L.popup({"maxWidth": "100%"});

        
            var html_301ded73a9f9467c93ac097230be652b = $(`<div id="html_301ded73a9f9467c93ac097230be652b" style="width: 100.0%; height: 100.0%;"> <a href= '/graphs/353114091675712/bar' target='_blank'>Ver gráficos</a></div>`)[0];
            popup_f5af7fb73fc244ce97fb695b54176883.setContent(html_301ded73a9f9467c93ac097230be652b);
        

        marker_2e09026824d047288f53799c8a865912.bindPopup(popup_f5af7fb73fc244ce97fb695b54176883)
        ;

        
    
    
            var marker_2752c3e5622f4d38ae11538a1fedb9da = L.marker(
                [-5.8113299, -35.2084293],
                {}
            ).addTo(map_36f354f224f14905945e341498a04b0c);
        
    
            var icon_7872873addd74233acabb5a36a0770bf = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_2752c3e5622f4d38ae11538a1fedb9da.setIcon(icon_7872873addd74233acabb5a36a0770bf);
        
    
        var popup_4b1a25de4c4745ce9b62ccb9a7141648 = L.popup({"maxWidth": "100%"});

        
            var html_af3e29f881d641d9b461e0b5478d85c5 = $(`<div id="html_af3e29f881d641d9b461e0b5478d85c5" style="width: 100.0%; height: 100.0%;"> <a href= '/graphs/dispositivo%20de%20teste/bar' target='_blank'>Ver gráficos</a></div>`)[0];
            popup_4b1a25de4c4745ce9b62ccb9a7141648.setContent(html_af3e29f881d641d9b461e0b5478d85c5);
        

        marker_2752c3e5622f4d38ae11538a1fedb9da.bindPopup(popup_4b1a25de4c4745ce9b62ccb9a7141648)
        ;

        
    
</script>