{% extends 'base.html' %}

{% block nav %}
<li><a href="{{ url_for('index') }}">Lista</a></li> 
<li><a href="{{ url_for('mapa') }}">Mapa</a></li> 
{% endblock %} 

{% block header %}
  <h1>{% block title %}Graficos -  {{ localizacao }}{% endblock %}</h1> 
{% endblock %} 
{% block content %}
        <div>
        	<label>Tipo de Gráfico</label>
        	<select onchange="location = this.value">
        		{% if session['tipo_graf_escolhido'] == 'bar' %}
        			<option value="{{ url_for('graphs',id_d = session['id_dispositivo'], tipo_graf = 'bar') }}" selected="true">Barras</option>
        		<option value="{{ url_for('graphs',id_d = session['id_dispositivo'], tipo_graf = 'line') }}">Linhas</option>
        		{% else %}
        		<option value="{{ url_for('graphs',id_d = session['id_dispositivo'], tipo_graf = 'bar') }}">Barras</option>
        		<option value="{{ url_for('graphs',id_d = session['id_dispositivo'], tipo_graf = 'line') }}" selected="true">Linhas</option>
        		{% endif %}
        	</select>
            <br/>
            <label>Dispostivo</label>
            <select onchange="location = this.value">
                {% for local in lista_locais %}
                    {% if session['tipo_graf_escolhido'] == 'bar' %}
                        {% if session['id_dispositivo'] == local[0] %}
                            <option value="{{ url_for('graphs',id_d = local[0], tipo_graf = 'bar') }}" selected="true">{{local[1]}}</option>
                        {% else %}
                            <option value="{{ url_for('graphs',id_d = local[0], tipo_graf = 'bar') }}">{{local[1]}}</option>
                        {% endif %}
                    }
                    {% else %}
                        <option value="{{ url_for('graphs',id_d = local[0], tipo_graf = 'line') }}">{{local[1]}}</option>
                    {% endif %}
                {% endfor %}   
            </select><br/>
            <label>Data Inicial</label>
            <input type="date" name="dataInicial" value="dataFinal">
            <label>Data Final</label>
            <input type="date" name="dataInicial" value="dataFinal" >
            <button type="submit">Aplicar Filtro</button>
        </div>
        <div><img src='{{ graph1 }}'/></div>
{% endblock %}
