{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Cadastro de Dispositivos{% endblock %}</h1>
{% endblock %}
{% block nav %}
<li><a href="{{ url_for('index') }}">Lista</a></li>
<li><a href="{{ url_for('mapa') }}">Mapa</a></li>
<li><a href="{{ url_for('graphs') }}">Graficos</a></li>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="IMEI">Código IMEI</label>
    <input name="IMEI" id="IMEI" required>
    <label for="marca_modelo">Marca/Modelo</label>
    <input name="marca_modelo" id="marca_modelo" required>
    <input type="submit" value="Cadastrar">
  </form>
{% endblock %}